@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@700&display=swap');


header h1 {
  font-size: 70px;
  font-weight: 600;
  font-family: 'Crimson Text', serif;

  
  color: white;
  text-shadow: black 5px;
  
 

}
header{
    background-image: radial-gradient(circle, gold, #680ea4);
}


